#About{
  .aboutFlexContainer{
    width: 100%;
    .aboutFlex{
      display: flex;
      width: 100%;
      min-height: 450px;
      justify-content: center;
      gap: 4rem;
      .text{
        width: 40%;
        margin-top: 60px;
        p{
          margin-top: 0;
        }
      }
      .pic{
        width: 40%;
        margin-top: 60px;
        img{
          width: 100%;
          border-radius: 10px;
        }
      }
    }
    .odd{
      background-color: #F2F0E9;
      .text{
        order: 2;
      }
    }
    .aboutCALife{
      position: relative;
      .Banana{
        position: absolute;
        top: 10%;
        left: 80%;
        img{
          width: 75px;
        }
      }
    }
    .aboutThought{
      position: relative;
      .Banana{
        position: absolute;
        top: 45%;
        left: 90%;
        img{
          width: 75px;
          mix-blend-mode: darken;
        }
      }
    }
    .aboutThoughtRoot{
      position: relative;
      .Banana{
        position: absolute;
        top: 2%;
        left: 10%;
        z-index: 0;
        img{
          height: 75px;
        }
      }
    }
  }
  .aboutYoutubeContainer{
    width: 100%;
    min-height: 450px;
    .youtubeTitle{
      display: flex;
      align-items: center;
      height: 125px;
      text-align: center;
      place-content: center;
      img{
        padding-right: 5px;
      }
    }
    .youtubeArea{
      width: 75%;
      height: 175px;
      display: flex;
      justify-content: center;
      gap: 4rem;
      margin: auto;
      iframe{
        border-radius: 10px;
      }
    }
    .youtubeLink{
      height: 135px;
      text-align: center;
      place-content: center;
      .youtubeBtn{
        background-color: #FD1513;
        color: white;
        border: none;
        border-radius: 10px;
        height: 45px;
        padding: 0 1.5rem;
      }
    }
  
  }
}