#About{
  .aboutFlexContainer{
    width: 100%;
    .aboutFlex{
      display: flex;
      width: 100%;
      min-height: 450px;
      justify-content: center;
      gap: 4rem;
      .text{
        width: 40%;
        margin-top: 60px;
        h2{
          margin-top: 0;
        }
      }
      .pic{
        width: 40%;
        margin-top: 60px;
      }
    }
    .odd{
      background-color: #F2F0E9;
      .text{
        order: 2;
      }
    }
  }
  .aboutYoutubeContainer{
    width: 100%;
    height: 450px;
    .youtubeTitle{
      height: 125px;
      text-align: center;
      place-content: center;
    }
    .youtubeArea{
      width: 75%;
      height: 175px;
      display: flex;
      justify-content: center;
      gap: 4rem;
      margin: auto;
      iframe{
        border-radius: 10px;
      }
    }
    .youtubeLink{
      height: 135px;
      text-align: center;
      place-content: center;
      .youtubeBtn{
        background-color: #FD1513;
        color: white;
        border: none;
        border-radius: 5px;
      }
    }
  
  }
}