// Commonpart CSS
// body offset, header, footer, hero section

$HeaderBG:white;
$LineBG:#00B800;
$FooterBG:#0095A7;

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

main{
  padding-top: 140px;
}
//////IndexHero Height////////////
.indexPage{
  main{
    #heroSection{
      height: 560px !important;
      .IndexPage__hero{
        .IndexPage__hero__container{
          width: 80%;
          margin: auto;
          place-content: left;
          .hero__title{
            text-align: left !important;
            margin-left: 0 !important;
          }
          .hero__comment{
            color: white;
          }
        }
        .LineLink{
          width: 80%;
          margin: auto;
          .lineBtn{
            width: 142px;
            line-height: 45px;
            border-radius: 5px;
            background-color: $LineBG;
            color: white;
            border: none;
            margin: auto;
          }
        }  
      }
    }
  }
}

#app{
/////Header//////////
  #header{
    width: 100%;
    height: 125px;
    position: fixed;
    padding-top: 15px;
    background-color: $HeaderBG;
    .header__icons__area{
      width: 90%;
      margin: 0 auto 24px;
      .header__icons{
        display: flex;
        justify-content: right;
        gap: 15px;
      }
    }
  
    .header__nav__PC{
      width: 90%;
      height: 45px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .header__ulContainer{
        .header__ul{
          display: flex;
          align-items: center;
          list-style: none;
          gap: 24px;
          .header__li{
            a{
              color: black;
            }
          }
          .header__li__LINE{
            width: 142px;
            line-height: 100%;
            border-radius: 5px;
            background-color: $LineBG;
            color: white;
            border: none;
  
            margin: auto;
          }
        }
      }
    }
  }

  main{
    #heroSection{
      width: 100%;
      height: 210px;
      .hero{
        width: 100%;
        height: 100%;
        place-content: center;
        background-size: cover;
        background-position: 50%,50%;
        .hero__title{
          width: fit-content;
          margin: auto;
          color: white;
          text-align: center;
        }  
      }
    }
    #indexPage__contents{
      width: 100%;
      .indexPage__container{
        .indexPage__items{
          min-height: 450px;
        }
      }
      .odd{
        background-color: #F2F0E9;
      }  
    }
  }
  /////Footer//////////
  #footer{
    width: 100%;
    height: 140px;
    background-color: $FooterBG;
    color: white;
    place-content: center;
    .footer__container{
      width: 90%;
      height: 24px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: auto;
//      .footer__title{}
      .footer__ulContainer{
        .footer__ul{
          list-style: none;
          display: flex;
          gap: 56px;
          .footer__li{
            a{
              color: white;
            }
          }
        }
      }
      .footer__icons{
        display: flex;
        gap: 15px;
      }
    }
  }
}