body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

main {
  padding-top: 140px;
}

.indexPage main #heroSection {
  height: 560px !important;
}
.indexPage main #heroSection .IndexPage__hero .IndexPage__hero__container {
  width: 80%;
  margin: auto;
  place-content: left;
}
.indexPage main #heroSection .IndexPage__hero .IndexPage__hero__container .hero__title {
  text-align: left !important;
  margin-left: 0 !important;
}
.indexPage main #heroSection .IndexPage__hero .IndexPage__hero__container .hero__comment {
  color: white;
}
.indexPage main #heroSection .IndexPage__hero .LineLink {
  width: 80%;
  margin: auto;
}
.indexPage main #heroSection .IndexPage__hero .LineLink .lineBtn {
  width: 142px;
  line-height: 45px;
  border-radius: 5px;
  background-color: #00B800;
  color: white;
  border: none;
  margin: auto;
}

#app #header {
  width: 100%;
  height: 125px;
  position: fixed;
  z-index: 999;
  padding-top: 15px;
  background-color: white;
}
#app #header .header__icons__area {
  width: 90%;
  margin: 0 auto 24px;
}
#app #header .header__icons__area .header__icons {
  display: flex;
  justify-content: right;
  gap: 15px;
}
#app #header .header__nav__PC {
  width: 90%;
  height: 45px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#app #header .header__nav__PC .header__ulContainer .header__ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 24px;
}
#app #header .header__nav__PC .header__ulContainer .header__ul .header__li a {
  color: black;
}
#app #header .header__nav__PC .header__ulContainer .header__ul .header__li__LINE {
  width: 142px;
  line-height: 100%;
  border-radius: 5px;
  background-color: #00B800;
  color: white;
  border: none;
  margin: auto;
}
#app main #heroSection {
  width: 100%;
  height: 210px;
}
#app main #heroSection .hero {
  width: 100%;
  height: 100%;
  place-content: center;
  background-size: cover;
  background-position: 50%, 50%;
}
#app main #heroSection .hero .hero__title {
  width: fit-content;
  margin: auto;
  color: white;
  text-align: center;
}
#app main #indexPage__contents {
  width: 100%;
}
#app main #indexPage__contents .indexPage__container .indexPage__items {
  min-height: 450px;
}
#app main #indexPage__contents .indexPage__container .Maincomment {
  display: flex;
}
#app main #indexPage__contents .indexPage__container .Maincomment .comments {
  position: relative;
  margin-top: 2rem;
  margin-left: 5rem;
}
#app main #indexPage__contents .indexPage__container .Maincomment .comments .mainComment {
  position: absolute;
  top: 50%;
  left: 40%;
  z-index: 2;
  transform: translateY(-75%);
}
#app main #indexPage__contents .indexPage__container .Maincomment .comments .mainComment img {
  width: 570px;
}
#app main #indexPage__contents .indexPage__container .Maincomment .comments .lineBtn {
  position: absolute;
  z-index: 2;
  bottom: 40px;
  width: 142px;
  line-height: 45px;
  border-radius: 5px;
  background-color: #00B800;
  color: white;
  border: none;
  margin: auto 0;
}
#app main #indexPage__contents .indexPage__container .Maincomment .comments .lineBtn p {
  margin: 0;
}
#app main #indexPage__contents .indexPage__container .Maincomment .mainPic {
  position: relative;
  width: 100%;
  height: 600px;
}
#app main #indexPage__contents .indexPage__container .Maincomment .mainPic img {
  position: absolute;
  width: 600px;
  top: -80px;
  right: 0;
}
#app main #indexPage__contents .indexPage__container .Subcomment .SubcommentContainer {
  width: 75%;
  margin: 2rem auto;
  display: flex;
  gap: 2rem;
}
#app main #indexPage__contents .indexPage__container .Subcomment .SubcommentContainer .comments {
  width: 50%;
}
#app main #indexPage__contents .indexPage__container .Subcomment .SubcommentContainer .comments h2 {
  margin-top: 0;
}
#app main #indexPage__contents .indexPage__container .Subcomment .SubcommentContainer .images {
  position: relative;
  width: 50%;
  height: 460px;
  background-image: url(../resource/plant.jpg);
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
#app main #indexPage__contents .indexPage__container .Subcomment .SubcommentContainer .images .Banana {
  position: absolute;
  width: 50px;
  height: 50px;
  left: calc(100% - 100px);
  top: -50px;
}
#app main #indexPage__contents .odd {
  background-color: #F2F0E9;
}
#app #footer {
  width: 100%;
  height: 140px;
  background-color: #0095A7;
  color: white;
  place-content: center;
}
#app #footer .footer__container {
  width: 90%;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
#app #footer .footer__container .footer__ulContainer .footer__ul {
  list-style: none;
  display: flex;
  gap: 56px;
}
#app #footer .footer__container .footer__ulContainer .footer__ul .footer__li a {
  color: white;
}
#app #footer .footer__container .footer__icons {
  display: flex;
  gap: 15px;
}

/*# sourceMappingURL=index.css.map */
